source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/jsonld-entities-aavhsnxi7xjp

content: none
redirects: on
framework: net40, net45

nuget Nancy
nuget newtonsoft.json
nuget dotNetRDF
nuget json-ld.net
nuget Nancy
nuget GitVersionTask
nuget HtmlAgilityPack
nuget OpenCover
nuget SpecFlow
nuget FakeItEasy
nuget NUnit < 3
nuget StyleCopPlus.MSBuild
nuget GitLink
nuget JsonLd.Entities prerelease
nuget Nullguard.Fody
nuget Nancy.Testing
nuget FluentAssertions
nuget JetbrainsAnnotations.Fody
nuget Nancy.Owin
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Rdf.Vocabularies
nuget infoof.fody