source https://nuget.org/api/v2

content: none
redirects: on
framework: net452

nuget newtonsoft.json
nuget dotNetRDF
nuget json-ld.net
nuget Nancy >= 2 prerelease
nuget GitVersionTask
nuget HtmlAgilityPack
nuget OpenCover
nuget SpecFlow
nuget FakeItEasy
nuget NUnit < 3
nuget StyleCop.Analyzers
nuget GitLink
nuget JsonLd.Entities prerelease
nuget Nullguard.Fody
nuget Nancy.Testing >= 2 prerelease
nuget FluentAssertions
nuget JetbrainsAnnotations.Fody
nuget Nancy.Owin >= 2 prerelease
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Rdf.Vocabularies

gist tpluscode/a285267d2543466fc35c3a168c846f9f