source https://nuget.org/api/v2
source https://www.myget.org/F/tpluscode/api/v3/index.json

content: none
redirects: on
strategy: min

nuget newtonsoft.json
nuget dotNetRDF >= 2
nuget json-ld.net
nuget Nancy >= 2 prerelease
nuget HtmlAgilityPack
nuget SpecFlow.NUnit
nuget FakeItEasy
nuget NUnit
nuget StyleCop.Analyzers
nuget JsonLd.Entities
nuget Nullguard.Fody
nuget Nancy.Testing >= 2 prerelease
nuget FluentAssertions
nuget JetbrainsAnnotations.Fody
nuget Nancy.Owin >= 2 prerelease
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.Owin.Hosting
nuget Rdf.Vocabularies
nuget tpluscode.Library.Ruleset
nuget tpluscode.UnitTests.Ruleset
nuget JetBrains.Annotations
nuget Microsoft.Extensions.Configuration 1.1.2
nuget Microsoft.Extensions.Configuration.Abstractions < 2
nuget Microsoft.Extensions.Primitives < 2