source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/jsonld-entities-aavhsnxi7xjp

content: none
redirects: on

nuget Nancy
nuget newtonsoft.json 6.0.6
nuget dotNetRDF < 1.0.7
nuget json-ld.net
nuget Nancy
nuget Zoltu.Versioning
nuget HtmlAgilityPack == 1.4.6
nuget SpecFlow
nuget FakeItEasy
nuget NUnit
nuget StyleCopPlus.MSBuild
nuget GitLink
nuget JsonLd.Entities
nuget Nullguard.Fody
nuget Nancy.Testing
nuget FluentAssertions
nuget JetbrainsAnnotations.Fody

github tpluscode/FileVersionExtractor