source https://nuget.org/api/v2

nuget Nancy
nuget dotNetRDF < 1.0.7
nuget json-ld.net
nuget Nancy
nuget Zoltu.Versioning
nuget HtmlAgilityPack == 1.4.6
nuget SpecFlow
nuget FakeItEasy
nuget NUnit
nuget StyleCopPlus.MSBuild
github tpluscode/FileVersionExtractor